@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    box-sizing: border-box;
}

body{
    font-family: Roboto, sans-serif;
    background-color: #f0f0f0;
}

main{
    max-width: 38rem; 
    margin: 2rem auto;
    padding: 1.25rem;
    background-color: white;
    border: 1px solid #ccc;
}

#cidade {
    width: 100%;
    padding: 0,625rem;
    font-size: 1rem;
}

#previsao {
    margin-top: 1rem;
}

.cidade {
    width: 100%;
    cursor: pointer;
    padding: 0.625rem;
    background-color: #f0f0f0;
    border: 1px solid #e0e0e0;
}

.cidade:hover {
    background-color: #e0e0e0;
}

.dia {
    padding: 0.625rem;
    border: 1px solid #ccc
}
